{{input
  type="file"
  accept="text/csv"
  multiple=false
  change=(action "handleFileUpload")}}

{{starburst-chart data=transactionsGroupHierarchy}}

<h1>Data</h1>
{{#each accounts as |account|}}
  <h2>{{account.accountNumber}}</h2>
  <h3>{{account.sortCode}}</h3>

  <table>
    <tr>
      <th>Date</th>
      <th>Amount</th>
      <th>Subcategory</th>
      <th>Memo</th>
      <th>Transaction Date</th>
      <th>Payee</th>
      <th>Description</th>
      <th>Request Date</th>
      <th>Value</th>
      <th>Direction</th>
    </tr>
  {{#each account.transaction as |transaction|}}
    <tr>
      <td>{{transaction.date}}</td>
      <td>{{transaction.amount}}</td>
      <td>{{transaction.subcategory}}</td>
      <td>{{transaction.memo}}</td>
      <td>{{transaction.transactionDate}}</td>
      <td>{{transaction.payee}}</td>
      <td>{{transaction.description}}</td>
      <td>{{transaction.requestDate}}</td>
      <td>{{transaction.value}}</td>
      <td>{{transaction.direction}}</td>
    </tr>
  {{/each}}
  </table>
{{/each}}
